<%= form_with(model: user_note) do |form| %>
  <% if user_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_note.errors.count, "error") %> prohibited this user_note from being saved:</h2>

      <ul>
        <% user_note.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_field :note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
