<%= form_with(model: project_phase) do |form| %>
  <% if project_phase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project_phase.errors.count, "error") %> prohibited this project_phase from being saved:</h2>

      <ul>
        <% project_phase.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :initial_date %>
    <%= form.date_select :initial_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date %>
  </div>

  <div class="field">
    <%= form.label :projects_id %>
    <%= form.text_field :projects_id %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
