<p id="notice"><%= notice %></p>

<h1>Project Phases</h1>

<table>
  <thead>
    <tr>
      <th class="">Name</th>
      <th class="">Description</th>
      <th class="">Initial date</th>
      <th class="">End date</th>
      <th class="">Project ID</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_phases.each do |project_phase| %>
      <tr>
        <td class=""><%= project_phase.name %></td>
        <td class=""><%= project_phase.description %></td>
        <td class=""><%= project_phase.initial_date %></td>
        <td class=""><%= project_phase.end_date %></td>
        <td class=""><%= project_phase.projects_id %></td>
        <td><%= link_to 'Show', project_phase %></td>
        <td><%= link_to 'Edit', edit_project_phase_path(project_phase) %></td>
        <td><%= link_to 'Destroy', project_phase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project Phase', new_project_phase_path %>
