<p id="notice"><%= notice %></p>

<h1>Project Phases</h1>

<table>
  <thead>
    <tr>
      <th class="">Phase ID</th>
      <th class="">Name</th>
      <th class="">Description</th>
      <th class="">Start date</th>
      <th class="">End date</th>
      <th class="">Project ID</th>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_phases.each do |project_phase| %>
        <tr>
        
            <td class=""><%= project_phase.id %></td>
            <td class=""><%= project_phase.name %></td>
            <td class=""><%= project_phase.description %></td>
            <td class=""><%= project_phase.start_date %></td>
            <td class=""><%= project_phase.end_date %></td>
            <td class=""><%= project_phase.projects_id %></td>
            <td><%= link_to 'Show', project_phase_url(:id => project_phase.id) %></td>
            <td><%= link_to 'Edit', edit_project_phase_path(:id => project_phase.id) %></td>


      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project Phase', new_project_phase_path %>
