<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th class="">Name</th>
      <th class="">Description</th>
      <th class="">State</th>
      <th class="">Start date</th>
      <th class="">End date</th>
      <th class="">User ID</th>
      <th class="">A charge</th>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td class=""><%= project.name %></td>
        <td class=""><%= project.description %></td>
        <td class=""><%= project.state %></td>
        <td class=""><%= project.start_date %></td>
        <td class=""><%= project.end_date %></td>
        <td class=""><%= project.users_id %></td>
        <td class=""><%= project.user.username %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
