<p id="notice"><%= notice %></p>

<div class="view-title">
    <h1>Projects</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th class="">Name</th>
      <th class="">Description</th>
      <th class="">State</th>
      <th class="">Start date</th>
      <th class="">End date</th>
      <th class="">User ID</th>
      <th class="">User in charge</th>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td class=""><%= project.name %></td>
        <td class=""><%= project.description %></td>
        <td class=""><%= project.state %></td>
        <td class=""><%= project.start_date %></td>
        <td class=""><%= project.end_date %></td>
        <td class=""><%= project.users_id %></td>
        <td class=""><%= project.user.username %></td>
      
        <td><%= link_to 'Show', project %></td>

        <% if can? :update, project%>
          <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <% end %>

        <% if can? :destroy, project%>
          <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, Project%>
  <%= link_to 'New Project', new_project_path %>
<% end %>


