<p id="notice"><%= notice %></p>

<p>
<strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>State:</strong>
  <%= @project.state %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @project.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @project.end_date %>
</p>

<p>
  <strong>User in charge:</strong>
  <%= @project.user.username %>
</p>

<%= link_to 'Back', projects_path %> |
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Phases', project_phases_url(@project,@phases) %> |
<%= link_to 'Members of the team', project_teams_url(@project,@phases) %> 

