<%= form_with(model: project_team) do |form| %>
  <% if project_team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project_team.errors.count, "error") %> prohibited this project_team from being saved:</h2>

      <ul>
        <% project_team.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :users_id %>
    <%= form.collection_select :users_id, User.order(:id),:id, :username %> <br>
  </div>

  <div class="actions">
    <%= form.submit  %>
  </div>
<% end %>
