<p id="notice"><%= notice %></p>

<h1>Project Phase Milestones</h1>

<table>
  <thead>
    <tr>
      <th class="">ID</th>
      <th class="">Milestone</th>
      <th class="">Description</th>
      <th class="">Phase ID</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_phase_milestones.each do |project_phase_milestone| %>
      <tr>
        <td class=""><%= project_phase_milestone.id %></td>
        <td class=""><%= project_phase_milestone.name %></td>
        <td class=""><%= project_phase_milestone.description %></td>
        <td class=""><%= project_phase_milestone.project_phases_id %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project Phase Milestone', new_project_phase_milestone_path %>
