<p id="notice"><%= notice %></p>

<h1>Project Phase Milestones</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_phase_milestones.each do |project_phase_milestone| %>
      <tr>
        <td><%= link_to 'Show', project_phase_milestone %></td>
        <td><%= link_to 'Edit', edit_project_phase_milestone_path(project_phase_milestone) %></td>
        <td><%= link_to 'Destroy', project_phase_milestone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project Phase Milestone', new_project_phase_milestone_path %>
