<p id="notice"><%= notice %></p>
<%= link_to 'Back', project_phases_path %> 
<h1>Project Phase Milestones</h1>

<table class="table">
  <thead>
    <tr>
      <th class="">ID</th>
      <th class="">Milestone</th>
      <th class="">Description</th>
      <th class="">Phase ID</th>
      <th class="">Phase</th>
      <th class="">Project</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_phase_milestones.each do |project_phase_milestone| %>
      <tr>
        <td class=""><%= project_phase_milestone.id %></td>
        <td class=""><%= project_phase_milestone.name %></td>
        <td class=""><%= project_phase_milestone.description %></td>
        <td class=""><%= project_phase_milestone.project_phases_id %></td>
        <td class=""><%= project_phase_milestone.project_phase.name %></td>
        <td class=""><%= project_phase_milestone.project_phase.project.name %></td>
        <td><%= link_to 'Show', project_phase_milestone_url(:id => project_phase_milestone.id) %></td>
        <% if can? :manage, project_phase_milestone %>
            <td><%= link_to 'Edit', edit_project_phase_milestone_url(:id => project_phase_milestone.id) %></td>
            <td><%= link_to 'Destroy', project_phase_milestone_path(project_phase_milestone.project_phase, :id => project_phase_milestone.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project Phase Milestone', new_project_phase_milestone_path %>
