<p id="notice"><%= notice %></p>
<!--<%= link_to 'Back', project_phase_milestones_path %>-->
<h6><%= link_to @project.name, projects_path %> > <%=link_to @phase.name, project_phases_path %> > <%= link_to @milestone.name, project_phase_milestones_path %></h6>
<div class="view-title">
  <h1>Notes on <%= @milestone.name%></h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th class="">ID</th>
      <th class="">Note</th>
      <!--<th class="">User</th>-->
      <th class="">Username</th>
      <th class="">Milestone ID</th>
      <th class="">Milestone</th>
      <th class="">Phase</th>
      <th class="">Project</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_phase_milestone_notes.each do |project_phase_milestone_note| %>
      <tr>
        <td class=""><%= project_phase_milestone_note.id %></td>
        <td class=""><%= project_phase_milestone_note.note %></td>
        <td class=""><%= project_phase_milestone_note.user.username %></td>
        <td class=""><%= project_phase_milestone_note.project_phase_milestones_id %></td>
        <td class=""><%= project_phase_milestone_note.project_phase_milestone.name %></td>
        <td class=""><%= project_phase_milestone_note.project_phase_milestone.project_phase.name %></td>
        <td class=""><%= project_phase_milestone_note.project_phase_milestone.project_phase.project.name %></td>
        <td><%= link_to 'Show', project_phase_milestone_note_url(:id => project_phase_milestone_note.id) %></td>
        <% if can? :update, project_phase_milestone_note %>
            <td><%= link_to 'Edit', edit_project_phase_milestone_note_url(:id => project_phase_milestone_note.id) %></td>
            <td><%= link_to 'Destroy', project_phase_milestone_note_path(project_phase_milestone_note.project_phase_milestone, :id => project_phase_milestone_note.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project Phase Milestone Note', new_project_phase_milestone_note_path %>
