<p id="notice"><%= notice %></p>


<p>
  <strong>Note:</strong>
  <%= @project_phase_milestone_note.note %>
</p>

<p>
  <strong>Project Phase ID:</strong>
  <%= @project_phase_milestone_note.project_phase_milestones_id %>
</p>

<p>
  <strong>User ID:</strong>
  <%= @project_phase_milestone_note.users_id %>
</p>



<%= link_to 'Edit', "/projects/#{@project_phase_milestone_note.project_phase_milestone.project_phase.project.id}/phases/#{@project_phase_milestone_note.project_phase_milestone.project_phase.id}/milestones/#{@project_phase_milestone_note.project_phase_milestone.id}/notes/#{@project_phase_milestone_note.id}/edit/" %> |
<%= link_to 'Back', project_phase_milestone_notes_path %>
